
@charset "utf-8";

@import url(//fonts.googleapis.com/css?family=Open+Sans:400,400italic,600,600italic,700,700italic);
body {
    font-family:Avenir , "Open Sans" , "Helvetica Neue" , Helvetica , Arial , Verdana , Roboto , "游ゴシック" , "Yu Gothic" , "游ゴシック体" , "YuGothic" , "ヒラギノ角ゴ Pro W3" , "Hiragino Kaku Gothic Pro" , "Meiryo UI" , "メイリオ" , Meiryo , "ＭＳ Ｐゴシック" , "MS PGothic" , sans-serif;
    font-size:14px;
}

/* 768px以上 tablet */
@media (min-width: 768px) {
    body {
        font-size:14px;
    }
}
/* 992px以上 desctop */
@media (min-width: 992px) {
    body {
        font-size:16px;
    }
}

    
@font-face {
  font-family: 'ltg';
  src: url('https://googledrive.com/host/0B0sFz3yMT9SHazRvMTgyU2I1OWc/');
}
@font-face {
  font-family: 'ltgcd';
  src: url('https://googledrive.com/host/0B0sFz3yMT9SHOFhPWXpYaURSQ2M/');
}
@font-face {
  font-family: 'octicons';
  src: url('https://googledrive.com/host/0B0sFz3yMT9SHN2Z1ZnIzSTF6alU/?#iefix') format('embedded-opentype'),
       url('https://googledrive.com/host/0B0sFz3yMT9SHZzZwbTVkVmVBU1U/') format('woff'),
       url('https://googledrive.com/host/0B0sFz3yMT9SHdXNLMGpUZkg1Vlk/') format('truetype'),
       url('https://googledrive.com/host/0B0sFz3yMT9SHQmRrWTVUSEJ0NVk/#octicons') format('svg');
  font-weight: normal;
  font-style: normal;
}

/* 767px以下: デフォルト */
a {
  text-decoration:none;
}



/* 991px以下 tabletとsmartphone*/
@media (max-width: 991px) {
}

/* 768px以上 tablet */
@media (min-width: 768px) {
}

/* 992px以上 desctop */
@media (min-width: 992px) {
}


/* module */
.alignC {text-align:center;}
.alignR {text-align:right;}

.em {color:#ee0f29;}

.basicTable {
width: 100%;
border-collapse: collapse;
margin:0.8rem 0;
}
.basicTable th{
padding: 0.3em 0.5em;
text-align: left;
vertical-align:middle;
line-height:1.3;
color: #333;
background-color: #eee;
border: 1px solid #b9b9b9;
font-size:0.8em;
font-weight:normal;
}
.basicTable td{
padding: 0.3em 0.5em;
background-color: #fff;
border: 1px solid #b9b9b9;
font-size:0.8em;
}
