
@charset "utf-8";

iframe.tmblr-iframe {
display:none;
}


h1 {}

.container {
  padding:0 0 5em;
}

.label_list {
  padding:0;
  margin:0;
}
.label_list li {
  border-left:solid 1em #000;
  line-height:1;
  list-style-type:none;
  padding:0 0 0 0.3em;
  margin:0 0 0.5em;
}

.label_list li.as_ring {
  border-color:#d21378;
}
.label_list li.bizcrown {
  border-color:#000000;
}
.label_list li.bullet {
  border-color:#006f3b;
}
.label_list li.chocolat_blanc {
  border-color:#d60178;
}
.label_list li.entremets {
  border-color:#e8525d;
}
.label_list li.kz_entertainment {
  border-color:#f68d97;
}
.label_list li.littleglow {
  border-color:#339999;
}
.label_list li.milkychain {
  border-color:#d6053e;
}
.label_list li.operetta_due {
  border-color:#e3a8aa;
}
.label_list li.perpetual_blue {
  border-color:#00bfff;
}
.label_list li.strawberry_cats {
  border-color:#e03255;
}
.label_list li.tunaboni_collections {
  border-color:#16a836;
}
.label_list li.velvet_voice {
  border-color:#9a6368;
}
.label_list li.venerdi {
  border-color:#faf7cc;
}
.label_list li.violento {
  border-color:#541b86;
}
.label_list li.apricot {
  border-color:#db8c64;
}
.label_list li.snow_drops {
  border-color:#0096da;
}
.label_list li.davrilmoon {
  border-color:#848002;
}
.label_list li.melty_drop {
  border-color:#f634a8;
}
.label_list li.monochrome {
  border-color:#666666;
}
.label_list li.rabbit_candy {
  border-color:#700ba5;
}
.label_list li.little_noise {
  border-color:#c2c2c2;
}
.label_list li.hanakagami {
  border-color:#ff01fa;
}
.label_list li.mitsubomi {
  border-color:#e9557d;
}

 

/* 991px以下 tabletとsmartphone*/
@media (max-width: 991px) {
  .container {
    padding:1em;
  }
}

/* 768px以上 tablet */
@media (min-width: 768px) {
}

/* 992px以上 desctop */
@media (min-width: 992px) {
  .container {
    width:970px;
    margin:0 auto;
  }

  .label_list li {
    width:30%;
    display:inline-block;
}
